*~
*.swp
*.swo
autom4te.cache
aclocal.m4
compile
configure
config.*
config.log
depcomp
install-sh
missing
.deps/
stormfs*.o
stamp-h1
config.status
Makefile
Makefile.in
stormfs
/INSTALL

src/Makefile
src/Makefile.in
