Source: stormfs
Maintainer: Ben LeMasurier <ben.lemasurier@gmail.com>
Section: utils
Priority: optional
Standards-Version: 3.9.1
Vcs-Git: git://github.com/benlemasurier/stormfs.git
Vcs-Browser: https://github.com/benlemasurier/stormfs
Homepage: https://github.com/benlemasurier/stormfs
Build-Depends: debhelper (>= 7.0.50~),
               libfuse-dev,
               fuse-utils,
               autotools-dev,
               libglib2.0-dev,
               libcurl4-gnutls-dev

Package: stormfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fuse-utils, mime-support
Description: A FUSE abstraction layer for cloud storage.
 A FUSE abstraction layer for cloud storage (Amazon S3, Google Cloud Storage and more).
